// Server config
{
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}

// client config
// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "modules": false, // Set this to false to output ESM
//         "targets": "> 0.25%, not dead",
//         "useBuiltIns": "entry",
//         "corejs": 3
//       }
//     ],
//     "@babel/preset-react"
//   ]
// }
